.button-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap; /* Ensure buttons wrap into the next row */
  margin-bottom: 10px; /* Add some space between rows */
}

button.col-3 {
  flex: 0 0 calc(25% - 10px); /* Each button takes 25% width, accounting for margin */
}

.container {
  max-width: 400px;
  margin: 0 auto; /* Center the calculator */
}

input.form-control {
  font-size: 2rem;
  text-align: right;
  margin-bottom: 15px;
  height: 75px;
  width: 100%;
}
